<section id="dashbaord">
  <div class="contain-fluid">
    <div class="heading">
      <div class="text">
        <h3>Categories</h3>
      </div>
      <div class="text text2">
        <a
          href="/admin/rider/category/add-category-form/<%= rider_id %>"
          class="webBtn mdBtn greenBtn">
          <i class="fa-light fa-plus"></i>Add New</a
        >
      </div>
    </div>
    <div class="dashTable">
      <table class="dataTable display" id="basic-1">
        <thead>
          <tr class="table-scnd-row blog-table">
            <th width="10%">
              <p>Sr#</p>
            </th>

            <th width="20%">
              <p>Main Category</p>
            </th>

            <th width="20%">
              <p>Sub Category</p>
            </th>

            <th width="10%">
              <p>Action</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <% if (categories && categories.length > 0) { %> <%
          categories.forEach((category, index) => { %>
          <tr class="bottom-cntnt" id="category-<%= category.id %>">
            <td>
              <p><%= index + 1 %></p>
            </td>

            <td>
              <p><%= category.main_category_name %></p>
            </td>

            <td>
              <p><%= category.sub_category_name %></p>
            </td>
            <td>
              <div class="btn-group">
                <button
                  type="button"
                  class="dropdown-toggle"
                  data-toggle="dropdown">
                  <i class="fa fa-ellipsis-h"></i>
                </button>
                <ul class="dropdown-menu dropdown-primary" role="menu">
                  <li>
                    <a
                      href="/admin/rider/category/edit/<%= rider_id %>/<%= category.rider_category_id %>">
                      <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                    </a>
                  </li>
                  <li>
                    <a
                      href="#"
                      class="delete-item"
                      data-id="<%= category.id %>"
                      data-url="/admin/rider/category/delete/<%= rider_id %>/<%= category.rider_category_id %>">
                      <i class="fa fa-trash" aria-hidden="true"></i> Delete
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          <% }) %> <% } else { %>
          <tr>
            <td colspan="8"><p>No categories found.</p></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</section>
