<section id="dashbaord">
  <div class="contain-fluid">
    <div class="heading">
      <div class="text">
        <h3>Dashboard</h3>
      </div>
    </div>
    <div class="grids">
      <div class="flex">
        <div class="col">
          <div class="inner">
            <h3>Total Riders</h3>
            <p><%= stats.riders %></p>
          </div>
        </div>
        <div class="col">
          <div class="inner">
            <h3>Total Users</h3>
            <p><%=stats.members%></p>
          </div>
        </div>
        <div class="col">
          <div class="inner">
            <h3>Total Messages</h3>
            <p><%=stats.messages%></p>
          </div>
        </div>
        <div class="col">
          <div class="inner">
            <h3>Total Orders</h3>
            <p><%=stats.completedOrders%></p>
          </div>
        </div>
        <div class="col">
          <div class="inner">
            <h3>Total Earnings</h3>
            <p><%=stats.earnings%></p>
          </div>
        </div>
        <div class="col">
          <div class="inner">
            <h3>Total Transactions</h3>
            <p><%=stats.transactions.toFixed(2)%></p>
          </div>
        </div>
        <div class="col">
          <div class="inner">
            <h3>Total Rider Price</h3>
            <p><%=stats.riderPrice.toFixed(2)%></p>
          </div>
        </div>
        <div class="col">
          <div class="inner">
            <h3>User Service Fee</h3>
            <p><%=stats.taxResult.toFixed(2)%></p>
          </div>
        </div>
        <div class="col">
          <div class="inner">
            <h3>Net Profit</h3>
            <p><%=stats.netProfit.toFixed(2)%></p>
          </div>
        </div>
        <div class="col">
          <div class="inner">
            <h3>Withdraw Amount</h3>
            <p><%=stats.withdrawResult || 0%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
