<section id="dashboard">
  <div class="contain-fluid">
    <div class="heading">
      <div class="text">
        <h3>Earnings</h3>
        <ul>
          <li><a href="">Home</a></li>
          <li class="active"><a href="">Earnings</a></li>
        </ul>
      </div>
    </div>
    <div class="dashTable">
      <table class="dataTable display" id="basic-1">
        <thead>
          <tr class="table-scnd-row blog-table">
            <th width="10%">Sr#</th>
            <th width="30%">User</th>
            <th width="15%">Amount</th>
            <th width="15%">Type</th>
            <th width="15%">Status</th>
            <th width="15%">Created Time</th>
          </tr>
        </thead>
        <tbody>
          <% if (earnings && earnings.length > 0) { %> 
          <% earnings.forEach((earning, index) => { %>
          <tr class="bottom-cntnt" id="earning-<%= earning.id %>">
            <td><p><%= index + 1 %></p></td>
            <td>
              <div class="flex">
              <div class="image-blog">
                <img src="<%= helpers.getImage(earning.mem_image) %>" alt="User Image" class="img-responsive"/>
              </div>
              <p><%= earning.member_name %></p>
            </div>
            </td>
            <td><p>£<%= earning.amount %></p></td>
            <td><p><%= earning.type %></p></td>
            <td><p><%- helpers.getEarningStatus(earning.status) %></p></td>
            <td><p><%= helpers.convertUtcToUkFormat(earning.created_time) %></p></td>
            
          </tr>
          <% }) %> 
          <% } else { %>
          <tr>
            <td colspan="8"><p>No earnings found.</p></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</section>
