<section id="dashbaord">
  <div class="contain-fluid">
    <div class="heading">
      <div class="text">
        <h3>Edit Faq</h3>
        <ul>
          <li><a href="/admin/dashboard">Dashboard</a></li>
          <li class="active"><a href="">Edit Faq</a></li>
        </ul>
      </div>
      <div class="text text2">
        <a href="/admin/faqs" class="webBtn mdBtn greenBtn"
          ><i class="fa-regular fa-arrow-left"></i>Cancel</a
        >
      </div>
    </div>
    <div class="dashTable">
      <div class="card editor_card">
        <div class="card-header">
          <h5>Faq Block</h5>
        </div>
        <div class="card-body full_width">
          <form
            id="editFaqForm"
            class="frmAjax"
            action="/admin/faqs/update/<%= faq.id %>"
            method="post"
            enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-12">
                <div class="row switch-showcase">
                  <div class="col-md-6">
                    <div class="txtGrp">
                      <label class="form-label">Status</label>
                      <div
                        class="txtGrp">
                        <select name="status" class="input">
                          <option value="1" <%= faq.status == 1 ? 'selected' : '' %>>Active</option>
                          <option value="0" <%= faq.status == 0 ? 'selected' : '' %>>Inactive</option>
                      </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="txtGrp">
                      <label class="form-label" for="title"
                        >Question<abbr class="required" title="required"
                          >*</abbr
                        ></label
                      >
                      <input
                        class="input"
                        id="ques"
                        type="text"
                        name="ques"
                        value="<%= editFaqId ? faq.ques : '' %>" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="txtGrp">
                      <label class="form-label" for="title"
                        >Answer<abbr class="required" title="required"
                          >*</abbr
                        ></label
                      >
                      <textarea
                        class="ckeditor"
                        name="description"
                        id="editor1"><%= editFaqId ? faq.ans : '' %></textarea
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-end">
              <button class="webBtn" type="submit">
                Update Content <i class="spinner hidden"></i>
              </button>
            </div>
          </form>
        </div>
        <hr />
      </div>
    </div>
  </div>
</section>
