<section id="dashbaord">
  <div class="contain-fluid">
    <div class="heading">
      <div class="text">
        <h3>Edit Vehicle Category</h3>
        <ul>
          <li><a href="">Home</a></li>
          <li class="active"><a href="">Edit Vehicle Category</a></li>
        </ul>
      </div>
      <div class="text text2">
        <a href="blog.php" class="webBtn mdBtn greenBtn"
          ><i class="fa-regular fa-arrow-left"></i>Cancel</a
        >
      </div>
    </div>
    <div class="dashTable">
      <div class="card editor_card">
        <div class="card-header">
          <h5>Vehicle Category Block</h5>
        </div>
        <div class="card-body full_width">
          <form
            id="editvehicleCategoryForm"
            class="frmAjax"
            action="/admin/vehicle-categories/update/<%= vehicleCategory.id %>"
            method="post"
            enctype="multipart/form-data">
            <div class="row">
              
              <div class="col-md-9">
                <div class="row switch-showcase">
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-body preview">
                        <h5 class="card-title">Image</h5>
                        <div class="blog_img">
                          <% if (imageFilenames && imageFilenames[0]) { %>
    
                          <img
                            src="<%= helpers.getImage(imageFilenames[0]) %>"
                            class="card-img-top"
                            alt="" />
                          <% } %>
                        </div>
                        <div class="in-upload">
                          <button type="button" class="uploadImg">
                            <i class="fa-regular fa-image"></i>choose another image
                          </button>
                          <input
                            type="file"
                            name="vehicle_category_image"
                            value="<%= editVehicleCategoryId ? vehicleCategory.vehicle_category_image : '' %>"
                            class="uploadFile" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="txtGrp media">
                      <label class="form-label">Status</label>
                      <div
                        class="txtGrp-body text-end icon-state switch-outline">
                        
                        <select name="status">
                          <option value="1" <%= vehicleCategory.status == 1 ? 'selected' : '' %>>Active</option>
                          <option value="0" <%= vehicleCategory.status == 0 ? 'selected' : '' %>>Inactive</option>
                      </select>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="txtGrp">
                      <label class="form-label" for="title"
                        >Vehicle Name<abbr class="required" title="required"
                          >*</abbr
                        ></label
                      >
                      <input
                        class="input"
                        id="title"
                        type="text"
                        name="vehicle_name"
                        value="<%= editVehicleCategoryId ? vehicleCategory.vehicle_name : '' %>" 
                        />
                    </div>
                  </div>
                  
                  
                </div>
              </div>
            </div>
            <div class="card-footer text-end">
              <button class="webBtn" type="submit">
                Update Content <i class="spinner hidden"></i>
              </button>
            </div>
          </form>
        </div>
        <hr />
      </div>
    </div>
  </div>
</section>
