<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin - FastUK</title>
    <%- include('includes/site-master') %>
  </head>
  <body>
    <%- include('includes/sidebar') %>
    <div class="page-wrapper">
      <%- include('includes/header') %>
      <main id="main" class="main">
        <%- body %> <%-include('includes/commonjs') %>
      </main>
    </div>
  </body>
</html>
