<section id="dashbaord">
  <div class="contain-fluid">
    <div class="heading">
      <div class="text">
        <h3>Request Quotes</h3>
        <ul>
          <li><a href="">Home</a></li>
          <li class="active"><a href="">Request Quote</a></li>
        </ul>
      </div>
    </div>
    <div class="dashTable">
      <table class="dataTable display" id="basic-1">
        <thead>
          <tr class="table-scnd-row blog-table">
            <th width="7%">
              <p>Sr#</p>
            </th>

            <th width="13%">
              <p>Rider</p>
            </th>
            <th width="13%">
              <p>User</p>
            </th>
            <th width="15%">
              <p>Pickup</p>
            </th>
            <th width="15%">
              <p>Drop-off</p>
            </th>
            <th width="15%">
              <p>Amount</p>
            </th>
            <th width="15%">
              <p>Status</p>
            </th>
            <th width="7%">
              <p>Action</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <% if (requestQuotes && requestQuotes.length > 0) { %> <%
          requestQuotes.forEach((requestQuote, index) => { %>
          <tr class="bottom-cntnt" id="requestQuotes-<%= requestQuote.id %>">
            <td>
              <p><%= index + 1 %></p>
            </td>

            <td>
            <% if (requestQuote.assigned_rider) { %>
              <div class="flex">
                <div class="image">
                  <img
                    src="<%= helpers.getImage(requestQuote.rider_image) %>"
                    alt="Rider Image" />
                </div>
                <div class="custm-cntnt">
                  <p><%= requestQuote.rider_name %></p>
                </div>
              </div>
              <% }else{ %>
              Rider not assigned yet!
              <% } %>
            </td>
            <td>
              <div class="flex">
                <div class="image">
                  <img
                    src="<%= helpers.getImage(requestQuote.member_image) %>"
                    alt="User Image" />
                </div>
                <div class="custm-cntnt">
                  <p><%= requestQuote.member_name %></p>
                </div>
              </div>
            </td>
            
            <td>
              <p><%= helpers.shortText(requestQuote.source_address,15) %></p>
            </td>
            <td>
              <p><%= helpers.shortText(requestQuote.dest_address,15) %></p>
            </td>
            <td>
              <p>£<%= requestQuote.total_amount %></p>
            </td>
            <td>
              <p>
                <% if (requestQuote && requestQuote.status === 'completed') { %>
                    <a href="#" class="status badge success">Completed</a>
                <% } else if (requestQuote && requestQuote.status === 'accepted') { %>
                    <a href="#" class="status badge warning">In Progress</a>
                <% } else if (requestQuote && requestQuote.status === 'paid') { %>
                    <a href="#" class="status badge success">Paid</a>
                <% } else { %>
                    <a href="#" class="status badge warning">Unknown Status</a>
                <% } %>
            </p>
            
            </td>
            <td>
              <div class="btn-group">
                <button
                  type="button"
                  class="dropdown-toggle"
                  data-toggle="dropdown">
                  <i class="fa fa-ellipsis-h"></i>
                </button>
                <ul class="dropdown-menu dropdown-primary" role="menu">
                  <li>
                    <a href="/admin/job-detail/<%= requestQuote.id %>">
                      <i class="fa fa-building" aria-hidden="true"></i>View
                    </a>
                  </li>
                  <li>
                    <a
                      href="#"
                      class="delete-item"
                      data-id="<%= requestQuote.id %>"
                      data-url="/admin/request-quotes/delete/<%= requestQuote.id %>">
                      <i class="fa fa-trash" aria-hidden="true"></i> Delete
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          <% }) %> <% } else { %>
          <tr>
            <td colspan="8"><p>No request quotes found.</p></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</section>
