<section id="dashbaord">
  <div class="contain-fluid">
    <div class="heading">
      <div class="text">
        <h3>Reviews</h3>
        <ul>
          <li><a href="">Home</a></li>
          <li class="active"><a href="">Reviews</a></li>
        </ul>
      </div>
    </div>
    <div class="dashTable">
      <table class="dataTable display" id="basic-1">
        <thead>
          <tr class="table-scnd-row blog-table">
            <th width="10%">
              <p>Sr#</p>
            </th>

            <th width="20%">
              <p>Name</p>
            </th>
            <th width="15%">
              <p>Rating</p>
            </th>
            <th width="15%">
              <p>Created Date</p>
            </th>
            <th width="15%">
              <p>Request</p>
            </th>
            <th width="10%">
              <p>Action</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <% if (reviews && reviews.length > 0) { %> <% reviews.forEach((review,
          index) => { %>
          <tr class="bottom-cntnt" id="review-<%= review.id %>">
            <td>
              <p><%= index + 1 %></p>
            </td>

            <td>
              <p><%= review.member_name %></p>
            </td>
            <td>
              <div
                class="rateYo"
                data-rateyo-rating="<%= review.rating %>"></div>
            </td>
            <td>
              <p><%= helpers.convertUtcToUkFormat(review.created_at) %></p>
            </td>
            <td>
              <p>
                <a href="/admin/order-detail/<%= review.request_id %>"
                  >Request</a
                >
              </p>
            </td>
            <td>
              <div class="btn-group">
                <button
                  type="button"
                  class="dropdown-toggle"
                  data-toggle="dropdown">
                  <i class="fa fa-ellipsis-h"></i>
                </button>
                <ul class="dropdown-menu dropdown-primary" role="menu">
                  <li>
                    <a href="/admin/review-details/<%= review.id %>">
                      <i class="fa fa-building" aria-hidden="true"></i>View
                    </a>
                  </li>
                  <li>
                    <a
                      href="#"
                      class="delete-item"
                      data-id="<%= review.id %>"
                      data-url="/admin/reviews/delete/<%= review.id %>">
                      <i class="fa fa-trash" aria-hidden="true"></i> Delete
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          <% }) %> <% } else { %>
          <tr>
            <td colspan="8"><p>No request quotes found.</p></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</section>
