<section id="dashbaord">
  <div class="contain-fluid">
    <div class="heading">
      <div class="text">
        <h3>Vehicle Categories</h3>
        <ul>
          <li><a href="">Home</a></li>
          <li class="active"><a href="">Vehicle Categories</a></li>
        </ul>
      </div>
      <div class="text text2">
        <a href="/admin/add-vehicle-category-form" class="webBtn mdBtn greenBtn"
          ><i class="fa-light fa-plus"></i>Add New</a
        >
      </div>
    </div>
    <div class="dashTable">
      <table class="dataTable display" id="basic-1">
        <thead>
          <tr class="table-scnd-row blog-table">
            <th width="10%">
              <p>Sr#</p>
            </th>
            <th width="15%">
              <p>Image</p>
            </th>
            <th width="20%">
              <p>Vehicle name</p>
            </th>
            <th width="15%">
              <p>Status</p>
            </th>
            <th width="10%">
              <p>Action</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <% if (vehicleCategories && vehicleCategories.length > 0) { %> <%
          vehicleCategories.forEach((vehicleCategory, index) => { %>
          <tr
            class="bottom-cntnt"
            id="vehicleCategory-<%= vehicleCategory.id %>">
            <td>
              <p><%= index + 1 %></p>
            </td>
            <td>
              <div class="image-blog">
                <img
                  src="<%= helpers.getImage(vehicleCategory.vehicle_category_image) %>" />
              </div>
            </td>
            <td>
              <p><%= vehicleCategory.vehicle_name %></p>
            </td>

            <td>
              <p>
                <% if (vehicleCategory.status === 1) { %>
                <a href="#" class="status badge success">Active</a>
                <% } else { %>
                <a href="#" class="status badge warning">Inactive</a>
                <% } %>
              </p>
            </td>
            <td>
              <div class="btn-group">
                <button
                  type="button"
                  class="dropdown-toggle"
                  data-toggle="dropdown">
                  <i class="fa fa-ellipsis-h"></i>
                </button>
                <ul class="dropdown-menu dropdown-primary" role="menu">
                  <li>
                    <a
                      href="/admin/vehicle-categories/edit/<%= vehicleCategory.id %>"
                      ><i class="fa fa-pencil" aria-hidden="true"></i>Edit</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="delete-item"
                      data-id="<%= vehicleCategory.id %>"
                      data-url="/admin/vehicle-categories/delete/<%= vehicleCategory.id %>">
                      <i class="fa fa-trash" aria-hidden="true"></i> Delete
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          <% }) %> <% } else { %>
          <tr>
            <td colspan="8"><p>No Vehicle Category found.</p></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</section>
