<aside class="left-sidebar" id="sidebar">
  <button id="cross-btn">X</button>
  <!-- Cross button -->
  <div class="logo">
    <a href="/admin/dashboard">
      <img src="<%=helpers.getImage(adminData.logo_image) %>" alt="" />
    </a>
    <!-- <a href="javascript:void(0)" class="sidebartoggler ms-auto text-decoration-none fs-5 d-flex d-xl-none">
            <iconify-icon icon="solar:close-circle-outline"></iconify-icon>
        </a> -->
  </div>
  <nav class="sidebar-nav scroll-sidebar" data-simplebar>
    <ul id="sidebarnav">
      <li class="small_head">Main</li>
      <% if (sidebarPermissions[1]) { %>

      <li class="sidebar-item">
        <a
          href="/admin/dashboard"
          class="<%= currentPath === 'dashboard' ? 'active sidebar-link' : 'sidebar-link' %>">
          <i class="fa-light fa-gauge"></i>
          <span class="hide-menu">Dashboard</span></a
        >
      </li>
      <% } %>
      <% if (req.session.admin && req.session.admin.type === 'admin') { %>
        <li class="sidebar-item">
          <a href="/admin/sub-admins" class="<%= currentPath === 'sub-admins' ? 'active sidebar-link' : 'sidebar-link' %>">
            <i class="fa-light fa-compact-disc"></i>
            <span class="hide-menu">Site Sub Admins</span>
          </a>
        </li>
      <% } %>
      

      
      
      <li class="small_head">Users</li>
      <% if (sidebarPermissions[2] || sidebarPermissions[3]) { %>

      <li class="sidebar-item">
        <a
          href="javascript:void(0)"
          class="<%= currentPath === 'members' || currentPath === 'riders' ? 'active sidebar-link has-arrow' : 'sidebar-link has-arrow' %>">

          <i class="fa-light fa-users"></i>
          <span class="hide-menu">Users</span></a
        >
        <ul
          class="<%= currentPath === 'members' || currentPath === 'riders' ? 'sub-menu show' : 'sub-menu' %>">
          <% if (sidebarPermissions[2]) { %> 

          <li class="sidebar-item">
            <a
              href="/admin/members"
              class="<%= currentPath === 'members' ? 'active sidebar-link' : 'sidebar-link' %>">
              <span class="hide-menu">Users</span></a
            >
          </li>
          <% } %>

          <% if (sidebarPermissions[3]) { %>


          <li class="sidebar-item">
            <a
              href="/admin/riders"
              class="<%= currentPath === 'riders' ? 'active sidebar-link' : 'sidebar-link' %>">
              <span class="hide-menu">Riders</span></a
            >
          </li>
          <% } %>

          <% if  (sidebarPermissions[4]) { %> 


          <li class="sidebar-item">
            <a
              href="/admin/business-users"
              class="<%= currentPath === 'business-users' ? 'active sidebar-link' : 'sidebar-link' %>">
              <span class="hide-menu">Business Users</span></a
            >
          </li>
          <% } %>

        </ul>
      </li>
      <% } %>

      <% if (sidebarPermissions[5]) { %>


      <li class="small_head">Jobs</li>
      <li class="sidebar-item">
        <a
          href="javascript:void(0)"
          class="<%= currentPath === 'completed-jobs' || currentPath === 'inprogress-jobs' || currentPath === 'upcoming-jobs' ? 'active sidebar-link has-arrow' : 'sidebar-link has-arrow' %>">
          <i class="fa-light fa-calendar"></i>
          <span class="hide-menu">Jobs</span></a
        >
        <ul
          class="<%= currentPath === 'completed-jobs' || currentPath === 'inprogress-jobs' || currentPath === 'upcoming-jobs' ? 'sub-menu show' : 'sub-menu' %>">
          <li class="sidebar-item">
            <a
              href="/admin/completed-jobs"
              class="<%= currentPath === 'completed-jobs' ? 'active sidebar-link' : 'sidebar-link' %>">
              <span class="hide-menu">Completed Jobs</span></a
            >
          </li>
          <li class="sidebar-item">
            <a
              href="/admin/inprogress-jobs"
              class="<%= currentPath === 'inprogress-jobs' ? 'active sidebar-link' : 'sidebar-link' %>">
              <span class="hide-menu">In Progress Jobs</span></a
            >
          </li>
           <li class="sidebar-item">
            <a
              href="/admin/upcoming-jobs"
              class="<%= currentPath === 'upcoming-jobs' ? 'active sidebar-link' : 'sidebar-link' %>">
              <span class="hide-menu">Upcoming Jobs</span></a
            >
          </li>
        </ul>
      </li>
      <% } %>
      <% if (sidebarPermissions[6] || sidebarPermissions[7] || sidebarPermissions[8] || sidebarPermissions[9] ) { %>

        <% if (sidebarPermissions[20]) { %>


      <li class="small_head">Reports</li>
      <li class="sidebar-item">
        <a
          href="javascript:void(0)"
          class="<%= currentPath === 'completed-reports' || currentPath === 'inprogress-reports' ? 'active sidebar-link has-arrow' : 'sidebar-link has-arrow' %>">
          <i class="fas fa-analytics"></i>
          <span class="hide-menu">Reports</span></a
        >
        <ul
          class="<%= currentPath === 'completed-reports' || currentPath === 'inprogress-reports' ? 'sub-menu show' : 'sub-menu' %>">
          <li class="sidebar-item">
            <a
              href="/admin/completed-reports"
              class="<%= currentPath === 'completed-reports' ? 'active sidebar-link' : 'sidebar-link' %>">
              <span class="hide-menu">Completed Jobs</span></a
            >
          </li>
          <li class="sidebar-item">
            <a
              href="/admin/inprogress-reports"
              class="<%= currentPath === 'inprogress-reports' ? 'active sidebar-link' : 'sidebar-link' %>">
              <span class="hide-menu">In Progress Reports</span></a
            >
          </li>
        </ul>
      </li>

      <% } %>



      <li class="small_head">User Requests</li>
      <% if (sidebarPermissions[6]) { %>

      <li class="sidebar-item">
        <a
          href="/admin/transactions-list"
          class="<%= currentPath === 'transactions-list' ? 'active sidebar-link' : 'sidebar-link' %>">
          <i class="fa-light fa-gbp"></i>
          <span class="hide-menu">Transactions</span></a
        >
      </li>
      <% } %>
      <% if (sidebarPermissions[7]) { %>


      <li class="sidebar-item">
        <a
          href="/admin/earnings"
          class="<%= currentPath === 'earnings' ? 'active sidebar-link' : 'sidebar-link' %>">
          <i class="fa-light fa-gbp"></i>
          <span class="hide-menu">Earnings</span></a
        >
      </li>
      <% } %>
      <% if (sidebarPermissions[8]) { %>


      <li class="sidebar-item">
        <a
          href="/admin/withdraw-requests-list"
          class="<%= currentPath === 'withdraw-requests-list' ? 'active sidebar-link' : 'sidebar-link' %>">
          <i class="fa-light fa-circle-dollar-to-slot"></i>
          <span class="hide-menu">Withdrawal Requests</span></a
        >
      </li>
      <% } %>

      <% if (sidebarPermissions[9]) { %>


      
      <li class="sidebar-item">
        <a
          href="/admin/reviews-list"
          class="<%= currentPath === 'reviews-list' ? 'active sidebar-link' : 'sidebar-link' %>">
          <i class="fa-light fa-star"></i>
          <span class="hide-menu">Reviews</span></a
        >
      </li>
      <% } %>
      <% } %>
      <% if (sidebarPermissions[10] || sidebarPermissions[11] || sidebarPermissions[12] || sidebarPermissions[13]|| sidebarPermissions[14] || sidebarPermissions[15] || sidebarPermissions[16] || sidebarPermissions[17] || sidebarPermissions[18] || sidebarPermissions[19]) { %>


      <li class="small_head">Pages</li>
      <% if (sidebarPermissions[10]) { %>

      <li class="sidebar-item">
        <a
          href="/admin/pages"
          class="<%= currentPath === 'pages' ? 'active sidebar-link' : 'sidebar-link' %>">
          <i class="fa-light fa-clipboard"></i>
          <span class="hide-menu">Manage Pages</span></a
        >
      </li>
      <% } %>
      <% if (sidebarPermissions[11]) { %>


      <li class="sidebar-item">
        <a
          href="/admin/team-members"
          class="<%= currentPath === 'team-members' ? 'active sidebar-link' : 'sidebar-link' %>">
          <i class="fa-light fa-user-friends"></i>
          <span class="hide-menu">Team</span></a
        >
      </li>
      <% } %>

      <% if (sidebarPermissions[12]) { %>


      <li class="sidebar-item">
        <a
          href="/admin/testimonial"
          class="<%= currentPath === 'testimonial' ? 'active sidebar-link' : 'sidebar-link' %>">
          <i class="fa-light fa-quote-left"></i>
          <span class="hide-menu">Testimonials</span></a
        >
      </li>
      <% } %>

      <% if (sidebarPermissions[13]) { %>


      <li class="sidebar-item">
        <a
          href="/admin/faqs"
          class="<%= currentPath === 'faqs' ? 'active sidebar-link' : 'sidebar-link' %>">
          <i class="fa-light fa-circle-question"></i>
          <span class="hide-menu">Faqs</span></a
        >
      </li>
      <% } %>

      <% if (sidebarPermissions[14]) { %>


      <li class="sidebar-item">
        <a
          href="/admin/services"
          class="<%= currentPath === 'services' ? 'active sidebar-link' : 'sidebar-link' %>">
          <i class="fa-light fa-leaf"></i>
          <span class="hide-menu">Services</span></a
        >
      </li>
      <% } %>
      <% if (sidebarPermissions[15]) { %>


      <li class="sidebar-item">
        <a
          href="/admin/vehicles-list"
          class="<%= currentPath === 'vehicles-list' ? 'active sidebar-link' : 'sidebar-link' %>">
          <i class="fa-light fa-car"></i>
          <span class="hide-menu">Vehicles</span></a
        >
      </li>
      <% } %>

      <% if (sidebarPermissions[16]) { %>


      
      <li class="sidebar-item">
        <a
          href="/admin/newsletter-list"
          class="<%= currentPath === 'newsletter-list' ? 'active sidebar-link' : 'sidebar-link' %>">
          <i class="fa-light fi-newspaper"></i>
          <span class="hide-menu">Subscribers</span></a
        >
      </li>
      <% } %>

      <% if (sidebarPermissions[17]) { %>


      
      <li class="sidebar-item">
        <a
          href="/admin/remote-post-codes-list"
          class="<%= currentPath === 'remote-post-codes-list' ? 'active sidebar-link' : 'sidebar-link' %>">
          <i class="fa-light fa-address-book"></i>
          <span class="hide-menu">Remote Post Codes</span></a
        >
      </li>
      
      <% } %>
      <li class="sidebar-item">
        <a
          href="/admin/promo-codes-list"
          class="<%= currentPath === 'promo-codes-list' ? 'active sidebar-link' : 'sidebar-link' %>">
          <i class="fa-light fa-address-book"></i>
          <span class="hide-menu">Promo Codes</span></a
        >
      </li>
      <li class="sidebar-item">
        <a
          href="/admin/vehicle-categories-list"
          class="<%= currentPath === 'vehicle-categories-list' ? 'active sidebar-link' : 'sidebar-link' %>">
          <i class="fa-light fa-address-book"></i>
          <span class="hide-menu">Vehicle Categories</span></a
        >
      </li>
      <% if (sidebarPermissions[18]) { %>


      <li class="sidebar-item">
        <a
          href="/admin/messages-list"
          class="<%= currentPath === 'messages-list' ? 'active sidebar-link' : 'sidebar-link' %>">
          <i class="fa-light fa-comments"></i>
          <span class="hide-menu">Messages</span></a
        >
      </li>
      <% } %>
      <% if (sidebarPermissions[19]) { %>


      <li class="sidebar-item">
        <a
          href="/admin/site-settings"
          class="<%= currentPath === 'site-settings' ? 'active sidebar-link' : 'sidebar-link' %>">
          <i class="fa-light fa-cog"></i>
          <span class="hide-menu">Site Settings</span></a
        >
      </li>
      <% } %>
      <% } %>




      <li class="sidebar-item">
        <a
          href="/admin/change-password-form"
          class="<%= currentPath === 'change-password-form' ? 'active sidebar-link' : 'sidebar-link' %>">
          <i class="fa-sharp fa-light fa-unlock-alt"></i>
          <span class="hide-menu">Change Password</span></a
        >
      </li>

    </ul>
  </nav>
  <div class="sidebar-footer hide-menu">
    <a href="/admin/site-settings">
      <i class="fa-light fa-gear"></i>
    </a>
    <a href="">
      <i class="fa-light fa-inbox"></i>
    </a>
    <a href="/admin/logout">
      <i class="fa-light fa-power-off"></i>
    </a>
  </div>
</aside>
