<section class="uj_card">
    <div class="contain">
        <div class="table_dv">
            <div class="table_cell">
                <div class="profile_card">
                    <div class="inner">
                        <div class="logos">
                            <img src="<%= helpers.getImage(siteSettings.logo_image) %>" alt />
                        </div>

                        <div class="dp_area">
                            <div class="dp">
                                <img src="<%= helpers.getImage(rider.mem_image) %>" alt />
                            </div>
                            <div class="name">
                                <h6>
                                    <%= siteSettings?.site_name || '' %>
                                </h6>
                                <h3>
                                    <%= rider?.full_name || '' %>
                                </h3>
                                <p>Email: <%= rider?.email || '' %>
                                </p>
                                <p>Phone: <%= rider?.mem_phone || '' %>
                                </p>
                            </div>
                            <div class="right">
                                <% if (qrCodeAttachment && qrCodeAttachment.filename) { %>
                                    <img src="/uploads/qr_codes/<%= qrCodeAttachment?.filename %>" alt="QR Code" />
                                    <% } %>
                            </div>

                        </div>
                        <ul class="list">
                            <li>
                                <strong>City:</strong>
                                <p>
                                    <%= rider?.city || '' %>
                                </p>
                            </li>
                            <li>
                                <strong>Address:</strong>
                                <p>
                                    <%= siteSettings?.site_address || '' %>
                                </p>
                            </li>
                            <li>
                                <strong>Vehicle:</strong>
                                <p>
                                    <%= selectedVehicle?.title || '' %>
                                </p>
                            </li>
                            <li>
                                <strong>Vehicle Registration Number:</strong>
                                <p>
                                    <%= rider?.vehicle_owner==='yes' ? (rider?.vehicle_registration_num || '' ) :
                                        (selectedVehicle?.vehicle_registration_number || '' ) %>
                                </p>
                            </li>

                            <% if (selectedVehicle) { %>
                                <li>
                                    <strong>Vehicle Image:</strong>
                                    <img src="<%= helpers.getImage(selectedVehicle.vehicle_image) %>" />
                                </li>
                                <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    window.onload = function () {
        window.print();
    };
</script>
<script>
    window.onload = function () {
        setTimeout(() => {
            window.print();
        }, 300);
    };
</script>