<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Order Has Been Picked</title>
  </head>
  <body style="margin: 0; padding: 20px; background-color: #f4f4f4">
    <div
      style="
        max-width: 900px;
        margin: auto;
        background: white;
        padding: 20px;
        border-radius: 8px;
        border: 1px solid #d4e0df;
      ">
      <table style="width: 100%; border-spacing: 0">
        <tbody>
          <tr>
            <td style="padding: 0; text-align: center">
              <img
                src="<%= adminData.logo %>"
                alt="Logo"
                style="width: 100px" />
            </td>
          </tr>
        </tbody>
      </table>

      <table style="width: 100%; margin-top: 30px; border-collapse: collapse">
        <tr>
          <td style="padding: 10px">
            <p>
              Good news! Rider has completed working at <%= address %>. <% if
              (parseInt(invoice) ==1) { %> Invoices has been generated for
              handball/waiting charges, please review and pay for invoice. <% }
              %>
            </p>
            <p>
              <strong style="font-weight: 600">Tracking ID:</strong> <%=
              order.tracking_id %>
            </p>
            <p>
              <strong style="font-weight: 600">Booking ID:</strong> <%=
              order.booking_id %>
            </p>
            <p>
              <strong style="font-weight: 600">Pickup Time:</strong> <%=
              order.picked_time %>
            </p>
            <p>
              <strong style="font-weight: 600">Assigned Rider:</strong> <%=
              order.rider_name %>
            </p>
          </td>
        </tr>
      </table>

      <table style="width: 100%; margin-top: 10px; border-collapse: collapse">
        <tr>
          <td style="width: 50%; padding: 10px">
            <strong style="font-weight: 600">Source (Pickup) Location</strong
            ><br />
            <%= order.source_address %>, <%= order.source_city %> <br /><%=
            order.source_postcode %>
          </td>
          <td style="width: 50%; padding: 10px">
            <strong style="font-weight: 600">Drop-off Location</strong><br />
            <%= order.dest_address %>, <%= order.dest_city %> <br /><%=
            order.dest_postcode %>
          </td>
        </tr>
      </table>

      <table
        style="
          width: 100%;
          margin-top: 20px;
          border-collapse: collapse;
          border: 1px solid #ddd;
        ">
        <thead>
          <tr style="background-color: #ed1c24; color: white; text-align: left">
            <th style="padding: 13px; font-weight: 600">Parcel</th>
            <th style="padding: 13px; font-weight: 600">Source</th>
            <th style="padding: 13px; font-weight: 600">Destination</th>
          </tr>
        </thead>
        <tbody>
          <% let totalDistance = 0; let subtotal=0; %> <%
          order.parcels.forEach(parcel => { %> <% totalDistance +=
          parcel.distance; subtotal +=parseFloat(parcel.distance) *
          parseFloat(parcel.price) %>
          <tr>
            <% const dims = []; if (parcel.length) dims.push(parcel.length); if
            (parcel.width) dims.push(parcel.width); if (parcel.height)
            dims.push(parcel.height); if (parcel.weight)
            dims.push(parcel.weight); if (parcel.quantity)
            dims.push(parcel.quantity); %>
            <td style="padding: 13px">
              <%= parcel.parcel_number %><br />
              <%= dims.join(' x ') %>
            </td>
            <td style="padding: 13px"><%= parcel.source_address %></td>
            <td style="padding: 13px"><%= parcel.destination_address %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>

      <div style="text-align: center; margin-top: 20px">
        <p style="font-size: 14px; color: #555">
          Thank you for choosing our service! You can track your order using the
          Tracking ID:
          <a
            href="https://fastukcouriers.com/order-tracking?tracking_id=<%= order.tracking_id %>"
            style="
              display: inline-block;
              text-align: center;
              margin-bottom: 10px;
              background: #077eff;
              color: #fff;
              text-decoration: none;
              padding: 10px 30px;
              border-radius: 50px;
              font-weight: 500;
            ">
            Track Order
          </a>
        </p>
      </div>
    </div>
  </body>
</html>
